/* body edits */
body {
    background-color: black;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Preahvihear', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Mono', monospace;
}
/* header edits */
h1 {
    color: white;
}
/* button edits */
.btn{
    position: absolute; 
    margin-left: -50px;
    left: 50%;
    width: 100px;
    bottom: 0px;
 }
/* button position */
 .btn-group {
    position: absolute;
    margin-left: -50px;
    left: 25%;
    width: 100px;
    height: 50px;
    bottom: 0px;
    padding-bottom: 20px;
}